[submodule "src/linear_algebra/TinyZero-Efficient"]
	path = src/linear_algebra/TinyZero-Efficient
	url = https://github.com/JustinSQiu/TinyZero-Efficient
[submodule "src/linear_algebra/DeepSeekRL-Extended-Efficient"]
	path = src/linear_algebra/DeepSeekRL-Extended-Efficient
	url = https://github.com/JustinSQiu/DeepSeekRL-Extended-Efficient.git
